@page "/"

<div class="@color" style="height:100%">
    <h1>Blazor Busy Light</h1>

    <AuthorizeView>
        <Authorized>
            Status:@status
        </Authorized>
        <NotAuthorized>
            <a href="authentication/login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
