@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://github.com/IvanJosipovic/BlazorBusyLight/" target="_blank">Github</a>
    </div>

    <div class="content px-4" style="height:100%">
        @Body
    </div>
</div>
